<div>
	<h2> About this Website </h2>
	This website / blog is where I put all of my thoughts and creations 
	that I want to show to the world. In general its contents will follow 
	my own interests, which are, among many other subjects:
	<ul>
		<li>Artificial Intelligence & Data Science</li>
		<li>3D & 2D Design</li>
		<li>Programming in general</li>
	</ul>
	<h3>What's in a Name?</h3>
	The name of this site, Braunian Noise, 
	is a wordplay on <a href="https://en.wikipedia.org/wiki/Brownian_noise">Brownian Noise</a>, 
	a type of noise that is characterized by more low than high frequencies. 
	It sounds like a waterfall, or distant traffic and is generally regarded to be more pleasing to the ear 
	than noise with a higher high frequency content (white noise, for example). 
	
	<h3>How it's Made</h3>
	This simple website has been made within the Angular framework.
	Besides serving as my personal business card to the outside world on the internet, it is also used as a testbed for my own code.
	It will therefor be under constant development, so checkout my page regularly for new and fancy updates! 
	
	<div class="row">	
    <div class="col-lg-9">
			<h2> About the Author</h2>
			My name is Hans-Christiaan Braun. I have a background in Artificial Intelligence 
      and am currently working as a front-end developer at BlueConic.
		</div>
		<div class="col-lg-3">
			<img class="profile-pic" src="assets/house-style/img/profile_pic.JPG">
		</div>					
	</div>
</div>
