<div>
  <div *ngFor="let article of articles">
    <div *ngIf="articleHasCategories(article, activeCategories)" class="row bn-article-preview">
      
      <!-- Preview image. -->
      <img class="bn-preview-img hidden-xs col-sm-4" src="{{article.header_img.src}}">
      <div class="col-sm-8">
      
        <!-- Title. -->
        <h4 class="bn-preview-title"> 
          <a [routerLink]="[article._id]"> {{article.title}} </a>				
        </h4>
        
        <!-- Content preview. -->
        <div class="bn-preview-text">{{article.description}}</div> 
        
        <!-- Footer (like-button, author, date posted etc.). -->
        <h4 class="pull-right"> 
          <small style="margin-left: 20px;"> Posted on {{article.date | date:'yyyy-MM-dd'}} by {{article.author}}</small> 					
        </h4>   

        <!-- Admin buttons, only shown when an admin has logged in. -->
        <div *ngIf="isLoggedIn()" class="btn-group pull-left">
          <!-- Edit post. -->
          <a class="btn btn-default" [routerLink]="['edit', article._id]">
            <span class="fa fa-edit"></span>
          </a>
          <!-- Hide / show post. -->
          <a class="btn btn-default">
            <span class="fa fa-eye-slash"></span>
          </a>
          <!-- Delete post. -->
          <a class="btn btn-default">
            <span class="fa fa-trash-o"></span>
          </a>
        </div>
        
      </div>
    </div>    
  </div>
</div>
