

.bn-preview {
  position: relative;
}

.bn-preview-item {
  margin-bottom: 20px;
  height: 270px;
  width: 270px;
    
  transform: scale(0.95);
  transition: transform 0.3s;
}

.bn-preview-item:hover {
  transform: scale(1.0);  
  transition: transform 0.1s;
}

.bn-preview-img {
  object-fit: cover;
  height: 270px;
  width: 270px;
  
  border-radius: 5px;
}

.bn-preview-title {  
  font-family: 'Russo-One', sans-serif;
  color: white;
  
  background: rgba(20, 68, 108, 0.7);
  border-radius: 5px;

  position: absolute; 
  
  top: 5%; 
  left: 5%;
  
  padding: 10px;
}