<div class="article-border">
  <article class="article-block">
    <!-- Header image. -->
    <figure>
      <!-- Clicking on the image triggers the file upload. -->
      <img id="header-image" class="header-img" src="{{article.header_img.src}}" alt="{{article.header_img.caption}}" (click)="triggerUploadImage()">
      <input class="caption input-borderless" [(ngModel)]="article.header_img.caption" placeholder="Caption.">
      <!-- Hidden file input. -->
      <div style="height:0px;overflow:hidden">
        <input #headerImageUpload type="file" (change)="onImageUpload($event)">
      </div>
    </figure>
    <!-- Title. -->
    <header>
      <input [(ngModel)]="article.title" class="header-1 input-borderless" placeholder="Article header">
    </header>
    
    <!-- Metadata (author, date, categories) -->
    <div class="metadata">
      <div>Posted on {{article.date | date:'yyyy-MM-dd'}} by {{article.author}}</div>
      <app-article-categories-edit 
        [categories]="article.categories"
        (change)="setCategories($event)"
        >
      </app-article-categories-edit>
    </div>
    
    

    <!-- Content rows, e.g. paragraph or image. -->
    <div *ngFor="let row of article.rows; let i = index">
      <!-- Delete row button. -->
      <a class="pull-right" (click)="deleteRow(i)"><span class="close-icon fa fa-times"></span></a>
      <!-- Actual row components. -->
      <app-text-row *ngIf="row.type === 'TEXT'" [row]="row"></app-text-row>
      <app-image-row *ngIf="row.type === 'IMAGE'" [row]="row"></app-image-row>
    </div>

    <!-- Row of buttons to add new content row of specific type. -->
    <div class="add-content-row">
      <a class="btn btn-default" (click)="addRow('TEXT')"><span class="fa fa-align-left"></span></a>
      <a class="btn btn-default" (click)="addRow('IMAGE')"><span class="fa fa-image"></span></a>
      <a class="btn btn-default"><span class="fa fa-code"></span></a>
      <a class="btn btn-default"><span class="fa fa-quote-right"></span></a>
      
      <a class="btn btn-primary" (click)="save()" style="margin-left:20px;"><span class="fa fa-save"></span> Save</a>
    </div>
  </article>
</div>
