
.caption {
  width: 100%;
  text-align: center;
  color: rgb(56, 56, 56);
  font-style: italic;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 800px) {
  .image {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .image {
    width: 100%;
  }
}