
#bn-sidebar {
  margin-bottom: 40px;
}

.bn-panel {
  border: 1px solid;
  border-color: #1f69a7; /* BN Blue (tm) */
  border-radius: 5px;
}

.bn-panel .bn-panel-section {
  width: 100%;
}

.bn-panel-section .bn-panel-header {
  background-color: #1f69a7;
  padding: 5px;
  /* Text. */
  color: white;  
  line-height: 30px;
  font-size: 16px;  
}

.bn-panel-section .bn-panel-content {
  padding: 5px;
}