<div id="bn-sidebar" class="bn-panel">

  <div class="bn-panel-section">
    <div class="bn-panel-header">
      Popular Articles
    </div>
    <div class="bn-panel-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  
  <div class="bn-panel-section">
    <div class="bn-panel-header">
      Popular Items in my Portfolio
    </div>
    <div class="bn-panel-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  
</div>
