<div class="article-border">
  <article class="article-block">
    <!-- Header image. -->
    <figure>
      <img class="header-img" src="../../../../assets/articles/mock/placeholder-image600x300.jpg" alt="default header image">
      <figcaption class="caption">Caption.</figcaption>
    </figure>
    <!-- Title. -->
    <header>
      <h1 class="header">Header</h1>
    </header>
    
    <!-- Metadata (author, date) -->

    <!-- Content rows, e.g. header, paragraph or image. -->

    <!-- Row of buttons to add new content row of specific type. -->

  </article>
</div>
