<div class="row">
  <!-- Sidebar. Controls what is shown in the article list. -->
  <div class="col-md-3">  
    <div class="bn-panel" style="margin-bottom: 20px">
      <div class="bn-panel-section">
        <div class="bn-panel-header">
          Categories
        </div>
        <div class="bn-panel-content">
          <ul class="bn-category-list">
            <li *ngFor="let category of categories" class="bn-category">
              
              <a class="bn-category-button" href="">              
                <span *ngIf="!category.active" class="fa fa-square-o bn-category-checkbox"></span>
                <span *ngIf="category.active" class="fa fa-check-square-o bn-category-checkbox"></span>                
                <span class="fa {{category.icon}}"></span> 
                {{category.title}} 
              </a>
              
            </li>
          </ul>
        </div>
        
      </div>
    </div>    
  </div>
  <div class="col-md-9">
    <app-article-list></app-article-list>
  </div>
</div>
