<div>
  <!-- Admin menu bar, only shown when an admin has logged in. -->
  <div *ngIf="isLoggedIn()" id="admin-bar">
    <h3> Welcome {{ getLoggedInUser().screenname }} 
      <div class="pull-right">
        <a class="btn btn-primary">Add Article</a>
        <a (click)="logOut()" class="btn btn-danger">Log Out</a>
      </div>    
    </h3>    
  </div>  
  <div class="row">
    <!-- Sidebar. Controls what is shown in the article list. -->
    <div class="col-md-3">  
      <div class="bn-panel" style="margin-bottom: 20px">
        <div class="bn-panel-section">
          <div class="bn-panel-header">
            Categories
          </div>
          <div class="bn-panel-content">
            <ul class="bn-category-list">
              <li *ngFor="let category of categories" class="bn-category">
                <div class="bn-category-container">
                  <!-- Category. -->
                  <a class="bn-category-button" (click)="toggleCategory(category.id)">  
                    <!-- Check box. -->
                    <span *ngIf="!category.active" class="fa fa-square-o bn-category-checkbox"></span>
                    <span *ngIf="category.active" class="fa fa-check-square-o bn-category-checkbox"></span> 
                    <!-- Icon. -->                 
                    <span class="fa fa-{{category.icon}}"></span> 
                    <!-- Title. -->
                    {{category.title}} 
                  </a>
                  <!-- Edit button. -->
                  <a *ngIf="isLoggedIn()" (click)="editCategory(category.id)" class="fa fa-edit pull-right"></a>
                </div>
              </li>
            </ul>
            <div *ngIf="isLoggedIn()" class="text-right" style="margin-top: 10px">
              <a (click)="editCategory()" class="btn btn-primary">Add Category</a>
            </div>
          </div>
          
        </div>
      </div>    
    </div>
    <!-- List of articles. -->
    <div class="col-md-9">
      <app-article-list [activeCategories]="activeCategories"></app-article-list>
    </div>
  </div>
  <!-- Category edit dialog -->
  <app-article-edit-cat-dialog #editCatDialog>
  </app-article-edit-cat-dialog>  
</div>