<app-modal #editCategoryModal>
  <div class="app-modal-header">
    Category
  </div>
  <div class="app-modal-body">
    
    <div *ngIf="error != null" class="alert alert-danger">
      {{error}}
    </div>
    
    <div class="row bn-form-row">
      <label for="title" class="col-lg-3">Title</label>
      <div class="col-lg-9">
        <input #title type="text" class="form-control" id="title-field" aria-describedby="title"> 
      </div>
    </div>  

    <div class="row bn-form-row">
      <label for="title" class="col-lg-3">Description</label>
      <div class="col-lg-9">
        <input #description type="text" class="form-control" id="description-field" aria-describedby="title"> 
      </div>
    </div> 
    
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="editCategoryModal.hide()">Cancel</button>
    <button (click)="console.log('edit category!')" type="button" class="btn btn-primary">Save</button>
  </div>
</app-modal>  
