<div class="category-block" 
  (mouseenter)="setEditMode(true)" 
  (mouseleave)="setEditMode(false)">

  <span class="pull-right">

    <small [hidden]="editMode || !nonActive">No categories defined. Click here to add some!</small>

    <!-- Unselected categories -->
    <a
      *ngFor="let category of inactiveCategories"
      [hidden]="!editMode"
      (click)="setActive(category._id, true)"
      class="category category-disabled"
      >
      <span class="fa fa-{{category.icon}}"></span>
    </a>

    <!-- Selected categories. -->
    <a
      *ngFor="let category of activeCategories"
      (click)="setActive(category._id, false)"
      class="category bn-blue"
      >
      <span class="fa fa-{{category.icon}}"></span>
        {{category.title}}
    </a>

    
  </span>
  
</div>
