/* You can add global styles to this file, and also import other style files */

/* Space out content a bit */
body {	
	/* background-image: url('../img/background.png'); */	
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
	  background-color: #ffffff;	  
    max-width: 1200px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Braunian Noise specific */

.bn-sidebar {
  margin-bottom: 40px;
}

.bn-panel {
  border: 1px solid;
  border-color: #1f69a7; /* BN Blue (tm) */
  border-radius: 5px;
}

.bn-panel .bn-panel-section {
  width: 100%;
}

.bn-panel-section .bn-panel-header {
  background-color: #1f69a7;
  padding: 5px;
  padding-left: 15px;
  /* Text. */
  color: white;  
  line-height: 30px;
  font-size: 20px;  
}

.bn-panel-section .bn-panel-content {
  margin: 5px;
}

.bn-form-row {
  margin-top: 10px;
}

/* Form validation (with Angular forms) */

.ng-invalid:not(form)  {
  border: 2px solid #aa6564;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bn-form-alert {
  background-color: #aa6564;
  color: white;

  border-radius: 0px 0px 5px 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.bn-form-alert a {
  color: white;
  text-decoration: underline;
}

.bn-form-alert a:hover {
  color: rgb(209, 133, 133);
}
