<div>
  <!-- Admin menu bar, only shown when an admin has logged in. -->
  <div *ngIf="isLoggedIn()" id="admin-bar">
    <h3> Welcome {{ getLoggedInUser().screenname }} 
      <div class="pull-right">
        <a class="btn btn-primary" [routerLink]="['edit', 'new']">Add Article</a>
        <a (click)="logOut()" class="btn btn-danger">Log Out</a>
      </div>    
    </h3>    
  </div>  
  <div class="row">
    <!-- List of article categories (as a sidebar). -->
    <div class="col-md-3">  
      <div class="bn-panel" style="margin-bottom: 20px">
        <app-article-categories (onChanged)="onActiveCategoriesChanged($event)"></app-article-categories>
      </div>    
    </div>
    <!-- List of articles. -->
    <div class="col-md-9">
      <app-article-list [activeCategories]="activeCategories"></app-article-list>
    </div>
  </div>
</div>